@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
body {
	font-family: "Poppins", sans-serif;
}
/* global css */
.bg-accent {
	background-color: #1b98f5;
}
.btn-accent {
	background-color: #1b98f5;
	opacity: 1;
}
.btn-accent:hover{
	background-color: #1b98f5;
	opacity: 0.8;
	border-color: #1b98f5;
}
.btn-accent-outline {
	border-color: #1b98f5;
	color: #1b98f5;
}
.btn-accent-outline:hover {
	background-color: #1b98f5;
	color: #fff;
}
.font-accent-color{
	color: #1b98f5;
}
.mb-130{
	margin-bottom: 130px;
}
.accent-text-title{
	color: #1D1D1D;
}
.accent-text{
	color: #777777;
}
.section-title h2{
	font-style: normal;
	font-weight: 600;
	font-size: 45px;
	line-height: 60px;
}
.section-info p{
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	
}

/* navbar area */
.navbar-brand {
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 60px;
	text-align: center;
	color: #4a4a4a;
}
.nav-link {
	font-size: 18px;
}
.nav-link:hover,
.navbar-nav .nav-link.active {
	color: #1b98f5;
}
/* header area */
.hero-carousel img {
	filter: brightness(60%);
}
.hero-carousel .carousel-caption {
	top: 30%;
}
.hero-carousel .carousel-caption h5 {
	font-style: normal;
	font-weight: 600;
	font-size: 65px;
	line-height: 85px;
	text-align: center;
	color: #ffffff;
}

/* course area */
.course-title{
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 38px;
color: #4A4A4A;
}
.course-info p{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #777777;
}
.price p{
	color: #1b98f5;
}
/* ex-learningarea */
.elear-info{
	background: #F4FAFD;
}

/* Feedback area */
.carousel-feedback .carousel-control-next{
right: 15%;
top:-200px;
background: #E6F6FF;
width: 40px;
border-radius: 25px;
height: 40px;
}
.carousel-feedback .carousel-control-prev{
	left: 15%;
    top: -200px;
    background: #E6F6FF;
    width: 40px;
    border-radius: 25px;
    height: 40px;
	}
		/* faq section  */
.accordion-button{
font-weight: 600;
font-size: 20px;
line-height: 30px;
color: #4A4A4A;
}
.accordion-body{
	font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #777777;
}
/* footer */

.fo-title h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 60px;
}
.cpy-link {
	color: #fff;
} 
.social-link a {
    color: #fff;
    padding: 5px;
    font-size: 20px;
    transition: color 0.5s ease-in;
}

/* @media query */

@media (max-width: 1199.98px) {
	.hero-carousel .carousel-caption {
		top: auto;
	}
	.hero-carousel .carousel-caption h5 {
		font-weight: 600;
		font-size: 40px;
		line-height: 50px;
	}
	.mb-130{
		margin-bottom: 60px;
	}
    .section-title h2{
		font-size: 30px;
		line-height: 45px;
	}
	.ex-elearning-area .section-info p {
		font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        height: 3em;
        overflow: hidden;
		text-overflow: ellipsis;
	}
	.carousel-feedback .carousel-control-prev {
		left: 0%;
		top: -335px;
	}
	.carousel-feedback .carousel-control-next {
		right: 0%;
		top: -335px;
	}
}
@media (max-width: 767.98px) {
    .hero-carousel .carousel-caption {
		top: 1%;
        left: 0;
        right: 0;
	}
    .hero-carousel .carousel-caption h5 {
		font-weight: 600;
		font-size: 20px;
		line-height: 20px;
	} 
    .hero-carousel .carousel-caption p {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        height: 3em;
        overflow: hidden;
		
    }
	.img-md-fluid{
		max-width: 100%;
	}
 }