@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
body {
	font-family: "Poppins", sans-serif;
}
/* global css */
.bg-accent {
	background-color: #5a20cb;
}
.btn-accent-outline {
	border-color: #5a20cb;
	color: #5a20cb;
}
.btn-accent-outline:hover {
	background-color: #5a20cb;
	color: #fff;
}

/* navbar area */
.navbar-brand {
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 60px;
	text-align: center;
	color: #4a4a4a;
}
.nav-link {
	font-size: 18px;
}
.nav-link:hover,
.navbar-nav .nav-link.active {
	color: #5a20cb;
}
/* header area */
.hero-carousel img{
    filter: brightness(50%);
}
.hero-carousel .carousel-caption{
    top: 40%;
}
.hero-carousel .carousel-caption h5{
font-style: normal;
font-weight: 600;
font-size: 65px;
line-height: 85px;
/* or 131% */

text-align: center;

color: #FFFFFF;
}

/* footer */

.fo-title h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 60px;
}
.cpy-link {
	color: #fff;
}
