@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
body {
	font-family: "Poppins", sans-serif;
}
/* global css */
.bg-accent {
	background-color: #1b98f5;
}
.btn-accent-outline {
	border-color: #1b98f5;
	color: #1b98f5;
}
.btn-accent-outline:hover {
	background-color: #1b98f5;
	color: #fff;
}

/* navbar area */
.navbar-brand {
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 60px;
	text-align: center;
	color: #4a4a4a;
}
.nav-link {
	font-size: 18px;
}
.nav-link:hover,
.navbar-nav .nav-link.active {
	color: #1b98f5;
}
/* header area */
.hero-carousel img {
	filter: brightness(60%);
}
.hero-carousel .carousel-caption {
	top: 30%;
}
.hero-carousel .carousel-caption h5 {
	font-style: normal;
	font-weight: 600;
	font-size: 65px;
	line-height: 85px;
	/* or 131% */

	text-align: center;

	color: #ffffff;
}

/* footer */

.fo-title h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 60px;
}
.cpy-link {
	color: #fff;
}
.social-link a {
    color: #fff;
    padding: 5px;
    font-size: 20px;
    transition: color 0.5s ease-in;
}

/* @media query */

@media (max-width: 1199.98px) {
	.hero-carousel .carousel-caption {
		top: auto;
	}
	.hero-carousel .carousel-caption h5 {
		font-weight: 600;
		font-size: 40px;
		line-height: 50px;
	}
    
}
@media (max-width: 767.98px) {
    .hero-carousel .carousel-caption {
		top: 1%;
        left: 0;
        right: 0;
	}
    .hero-carousel .carousel-caption h5 {
		font-weight: 600;
		font-size: 20px;
		line-height: 50px;
	} 
    .hero-carousel .carousel-caption p {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        height: 3em;
        overflow: hidden;
    }
 }